h3{
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 1rem;
    text-transform: uppercase;
    color: #fdd700;
    text-shadow: 0 0 5px rgba(0,0,0,0.5);
}
.skill_style{
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 1rem;
    text-transform: uppercase;
    color: #fdd700;
    text-shadow: 0 0 5px rgba(0,0,0,0.5);
}

.text-sphere{
    width: 50%;
    top: 0;
    padding-top: 0%;
    margin-left: 0;
    position: absolute;
    right: 0;
    overflow: hidden;
}